@keyframes example {
    from {stroke-dasharray: 0 999;}
    to {stroke-dasharray: 500 999;}
  }

.selected {
    animation-duration: 4s;
    animation-name: example;
}

.slider-wrapper {
    border-radius: 8px;
}

.carousel-overlay {
    background-color: #0C19203D;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.startpage-carousel {
    flex-grow: 1;
    border-radius: 8px;
    position: relative;
}

.circles {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    background: #0C1920;
    padding: 6px 0px;
    border-radius: 100px;
    left: 0; 
    right: 0;
    bottom: 16px;
    margin-left: auto; 
    margin-right: auto; 
}


.progress-circle {
  /* transform: ; */
    width: 10px;
    height: 10px;
    transform: rotate(-90deg) scale(1,-1);
    margin: 0px 4px;
}



.progress-circle-prog {
	fill: none; 
	stroke: #FFFFFF;
	stroke-width: 30px;  
	stroke-dasharray: 500 999;    
	stroke-dashoffset: 0px;

}

.circle-active {
    animation-name: example;
    animation-duration: 4s;
    animation-play-state: running;
}

.progress-circle > circle {
    transform: scale(0.05, 0.05);
}

@media (max-width: 768px) {
    .startpage-carousel {
        display: none;
    }
    .upload-section {
        width: 100%;
    }
}