@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

.header {
    padding: 20px 48px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 88px;
    height: 64px;
}

.header-help__wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px 24px;
}

.header-help__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-help__icon img {
    width: 100%;
}

.header-help__text {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
}

@media (max-width: 768px) {
    .header {
        padding: 20px 20px;
    }
}

