

.startpage {
    display: flex;
    padding: 20px 48px 40px 48px;
    gap: 16px;
    height: calc(100vh - 104px);
    box-sizing: border-box;
    
}

@media (max-width: 768px) {
    .startpage {
        padding: 0px;
    }
}