

.verificationpage {
    display: flex;
    padding: 20px 48px 40px 48px;
    gap: 16px;
    height: calc(100vh - 104px);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .verificationpage {
        padding: 0px;
    }
}

.email-verification {
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    /* width: 415px !important; */
    background-color: #E3E7EC;
}

.email-verification__header {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin: 0px;
    width: 351px;
    text-align: start;
}

.email-verification__title {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    color: #0C1920;
    font-weight: 400;
    margin-bottom: 16px;
}

.error-msg {
    font-family: 'Red Hat Display', sans-serif;
    text-align: start;
    margin-top: 8px;
    margin-left: 3px;
    color: #E75151;
    font-size: 14px;

}

.email-verification__inputs {
    flex-grow: 1;
    margin-top: 162px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input:focus ~ .floating-label,
.floating-label-active {
margin-top: 6px !important;
  font-size: 12px !important;
  opacity: 1;
}

.label-error {
    color: #E75151 !important;
}

.inputText:focus,
.input-text-active {
    box-sizing: border-box;
    padding-top: 10px !important;
}

.input-error {
    border: 1px solid #E75151 !important;
}

.inputText {
    font-family: 'Red Hat Display', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #0C1920;
  width: 100%;
  height: 52px;
  padding: 0px 16px;
  border: 1px solid #CED3D9;
  border-radius: 8px;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;

}

.floating-label {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  margin-left: 16px;
  margin-top: 16px;
  transition: 0.2s ease all;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #71777A;
}


.email-input {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-code-btn {
    cursor: pointer;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    color: #FFF;
    background-color: #50A4CD;
    padding: 12px 24px;
    border-radius: 100px;
    outline: none;
    border: none;
    transition: 0.2s;
}

.send-code-btn:disabled {

    background-color: #8EBED6;
}

.email-input__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.code-input {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
    padding: 20px 0px;
    width: 40px;
    display: flex;
    text-align: center;
    outline: none;
    color: #50A4CD;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #50A4CD;
}

.NXNmW {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    border-color: #CED3D9;
    border: 1px solid #CED3D9;
    border-radius: 10px !important;
    width: 40px !important;
    height: 60px !important;
    font-size: 16px !important;
}

.NXNmW.is-active {
    border: 1px solid #50A4CD !important;
    box-shadow: none !important;
    color: #50A4CD;
}
.kbzMmv {
    justify-content: center !important;
    gap: 8px;
    align-items: center !important;
}

@media(max-width: 768px) {
    .email-verification {
        padding: 20px;
        width: 100% !important;
        box-sizing: border-box;
    }

    .email-input {
        width: 351px;
    }
    .inputText {
        width: 351px;
    }
    .email-verification__title {
        padding: 0px 48px;
    }
}

@media(max-width: 460px) {
    .email-input {
        width: 100%;
    }
    .inputText {
        width: 100%;
    }
}