.upload-section {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #E3E7EC;
    border-radius: 8px;
}

.upload-header {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin: 0px 0px 16px 0px;
    text-align: start;
}


.upload-title {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #0C1920;
    margin: 0px;
}

.upload-files__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 1px solid #CED3D9;
    border-radius: 8px;
    padding: 31px 70px;
    cursor: pointer;
}

.upload-files__container:hover {
    background-color: #50A4CD;
    transition: 0.3s;
}

.upload-files__container:hover .upload-title {
    color: #FFF;
}

.upload-files__container:hover .upload-subtitle {
    color: #FFF;
}

.upload-files__container:hover .upload-icon {
    background-image: url("./uploadImages/upload-files-active.svg");
}

.upload-icon {
    width: 56px;
    height: 56px;
    background-image: url("./uploadImages/upload-files.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.upload-subtitle {
    margin: 0px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #71777A;
    width: 209px;
}

.startpage > img {
    height: 100%;
    object-fit: cover;
}
.startpage .carousel {
    height: 100%;
}

.startpage .carousel-root {
    height: 100%
}

.startpage .slide {
    height: 100%;
}

.startpage .slide div {
    height: 100%;
}

.startpage .slider {
    height: 100%;
}

.startpage .slider-wrapper {
    height: 100%;
}



.carousel .slide img {
    height: 100%;
    object-fit: cover;
}

@media(max-width: 768px) {
    .upload-section {
        padding: 20px;
        height: 100%;
        box-sizing: border-box;
    }
    .upload-files__container {
        padding: 31px 63px;
    }
}